.card {
    border-radius: 15px;
    background-color: var(--whitesmoke);
    box-shadow: 0px 0px 11px -7px black;
}

.card ul {
    padding-left: 0;
    margin: 0;
}

.card ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #c1c1c1;
}

button {
    margin-left: 15px;
    background-color: var(--black);
    border: 1px solid white;
}

.deleteItem {
    background-color: var(--red);
    padding: 5px;
    border-radius: 5px;
}

.entryControls>form {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--black);
}

input {
    height: 36px;
    padding: 6px 10px;
    line-height: 1.2;
    background: #dadada;
    border: 1px solid #acacac;
    border-radius: 5px;
    color: var(--black);
}